.tasks-container {
  max-width: 730px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
}

table {
  width: 700px;
  border-radius: 5px;
  border: 1px solid steelblue;
}

thead {
  font-size: 18px;
  font-weight: bold;
}

table td {
  border: 1px solid steelblue;
}

td {
  height: 30px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
}